<div class="fancy-grid-image page-width lg:shd-flex lg:shd-justify-between">
</div>


{% schema %}
  {
    "name": "Fancy Grid Images",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}