.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.3rem;
  color: rgb(var(--color-foreground));
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}



.list-social-contact .list-social__link {
  text-decoration: none;
}

.list-social-contact .list-social__link span {
  margin-top: 10px;
  display: inline-block;
}

.list-social-contact .list-social__item .icon {
  height: 2.8rem;
  width: 2.8rem;
}

.list-social-contact .list-social__link {
 flex-direction: column;
  padding: 1.3rem 2rem;
  color: #c8b600;
}